{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
    
    <div class="absolute-center mt-3 text-center content-section  main">
        <div class="col-md-4 mt-5 col-sm-10 center">
        
                    <form action="" method="post">
                        {% csrf_token %}
                        <!-- <fieldset class="form-group"> -->
                            <h3 class="text-center text-uppercase mb-4 gradient-text">Join Today</h3>

                            {% if messages %}
                            {% for message in messages %}
                            <div class="form-group">
                            <div class="" role="alert">
                              <h1 style="color:red">{{message}}</h1>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% for field in form %}

                            <div class="form-group">
                              <h6 class=""><b>{{ field.label_tag }}</b></h6>
                              <div class="col-md-12 ">{{field}}</div>
                              {% if field.help_text %}
                              <!-- <small id="emailHelp" style="" class="form-text">{{field.help_text}}</small> -->
                              {% endif %}
                              {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                              {% endfor %}
                            </div>
                            {% endfor %}
                        <!-- </fieldset> -->
                        <div class="form-group">
                            <button class="col-sm-6 btn btn-secondary rounded-pill mt-3" type="submit">Sign Up</button>
                        </div>
                        
                            
                        <div class="pt-3">
                            <small class="text">
                                Already Have An Account? <a class="col-sm-4 rounded-pill btn btn-primary ml-2"
                                    href="{% url 'login' %}">Sign In</a>
                            </small>
                        </div>
                    </form>
                    
                    
                    <br>
                </div>
                <div class="col-md-4">
                </div>
            </div>

           
        </div>
    </div>
</div>
</div>

{% endblock content %}